



.card{
    
    clip-path: circle(20% at 50% 50%);
    transition: 2s;
    
    &__destination,a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    border: solid 3px;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
}
    &__title{
      margin:0;
      font-size: 3em;
      line-height:1.8;
    }
    &__description{
      margin:0;
      font-size: 1.4em;
      line-height:1.6;
      display: none;
    }
  }