body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  /* background-color: #C4BDAF; */
  background-image: url(../image/backg.png);
}

/* Start General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.title{
  color: #293845;
  display: flex;
  justify-content: center;
  align-items: center;
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
}


#desti{
  text-align:  center;
}

#titledestination{
  color: #293845;
  text-align:  center;
  padding-top: 50px;
}

#location{
  color: #293845;
  text-align:  center;
  padding-top: 50px;
}


#desticenter{
  border: solid 1 px pink;
}


/* DIV PLAGE CHOIX DEST */

#destinations{
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 100px;
}

#nava{
  text-decoration: none;
  color:#293845;
  justify-content: space-around 80px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s;
}

#nava{
  animation-name: floating;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {transform: translate(0, 0px);}
  65% {transform: translate(0, 15px);}
  to {transform: translate(0, 0px);}
  
}


#nava:hover{
  color: #FFF;
  font-size: 100px;
}

#navli{
  list-style: none;
}

/* DIV____________*/

#svg{
  font-size: 30px;
}

h3{
  color: white;
  font-variant: small-caps;
  font-size: 20px;
  text-decoration: underline 3px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;

  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.1s;
}

nav ul li a:hover{
  color: #293845;
  font-size: 20px;
  font-weight: bold;

  width: 100%;

}

#contento{
  font-size: 70px;
  text-align: center;
  font-variant: small-caps;
}

.logopage{
  
}



/* End General */
/* Start Navbar */
nav ul {
  background-color: #c07d0029;
  padding: 10px;
  border-bottom: solid 0px #9b4304;
  border-top: solid 0px #9b4304;
}

nav ul > li {
  padding: 15px;
  display: inline-block;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin-left: -5px;
}

nav ul > li:not(:last-of-type):hover {
  color: white;
}


nav ul > li:first-of-type {
 list-style: none;
}

nav ul > li:last-of-type {
  float: right;
}

nav ul > li:last-of-type a .fa {
  font-size: 21px;
}

/* End Navbar */
/* Start Menue Right */
nav ul > li:last-of-type {
  position: relative;
  display: none;
}

nav ul > ol {
  position: absolute;
  top: 49px;
  right: 0;
  background: #333;
  text-align: center;
  list-style: none;
  display: none;
}

nav ul > ol > li {
  width: 100vw;
  color: #FFF;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

nav ul > ol > li:hover a {
  margin: 20px;
  background-color: #e7ae4c;
}

nav ul > ol > li:hover {
  background: rgb(38, 38, 38);
  cursor: pointer;

}

footer{
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  color: #293845; 
}

/* CSS */

#tour_operator1 {
  float:left; 
  width:25%;
  height:280px;
  background-color: #77777793;
  width: 600px;
  padding: 10px;
}

#linky{
  list-style: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  position: absolute;
}

#linky:hover{
  color: #4d4d4d;
}

#messauthor{
  color: white;
  font-variant: small-caps;
  text-align: center;
}


#tour_operator2{
  float:right;
  width:25%;
  height:280px;
  background-color: #77777793;
  width: 600px;
  padding: 10px;
}

#tour_operator3{
  float:left;
  width:25%;
  height:280px;
  background-color: #d9836941;
  width: 1240px;
  padding: 10px;
  
  margin-top: 40px;
  align-items: center;
}

#tour_boxes{
  margin: 20px;
}

/* Start Menue Right */
/* Start Media Query */
@media screen and (max-width: 680px) {
  nav ul > li:not(:first-child) {
    display: none;
  }
  nav ul > li:last-of-type {
    display: block;
  }
  nav ul input {
    display: inline;
  }
}

@media screen and (min-width: 680px) {
  nav ul > ol > li {
    display: none;
  }
}




/* End Media Query */
/*# sourceMappingURL=style.css.map */



